@charset "utf-8"; 
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* 
Criando regras usando o fluxo de trabalho do MOBILE FIRST - 320px

OBS: As regras aqui criadas também servirão par o site como um todo, ou seja, idependente do tamanho da minha tela. 
*/

/* Regras Gerais */

body{
    font-family: "Ubuntu", sans-serif;
    background-image: url(../imagem/hypnotize.png);
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    width: 100%;
}

h1, h2, h3, h4, p, figure{
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
}

/* Regras do topo */

#topo{
    background-color: rgba(24, 56, 29, 0.9);
    border-bottom: solid 1px;
    text-align: center;
    margin-bottom: 15px;
}

h1 img{
    margin-top: 25px;
    width: 200px;
}

nav{
    min-height: 40px;
    display: none;
    text-transform: uppercase;
    font-weight: bold;
    overflow: hidden;
    line-height: 40px;
    padding-left: 1%;
}

nav a:link, nav a:visited, #iconMenu:link, #iconMenu:visited{
    text-decoration: none;
    color: white;
    transition: backgroud-color 1s;
    min-height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a:hover, nav a:focus, #iconMenu:hover, #iconMenu:focus{
    background-color: #A98E12;
    color: #000;
    transition: backgroud-color 1s;
    border-radius: 5%;
}

#iconMenu{
    color: white;
    cursor: pointer;
    min-height: 40px;
    display: block;
    overflow: hidden;
    line-height: 40px;
    padding-left: 1%;
    font-size: 40px;
}

/* Footer - Rodapé */

.rodape{
    border-top: solid #06632E 5px;
    background-color: #000;
    color: #7F7F80;
    text-align: center;
    width: 100%;
}

.rodape p, li{
    font-size: 16px;    
}

.rodape img{
    margin: 0 5px;
}

.rodape-conteudo{
    padding: 15px;
    color: #fff;
}

.rodape-conteudo ul{
    list-style: none;
    margin: 0 auto;
    padding: 10px 0;
}

#logo-rodape{
    min-width: 146px;
    width: 150px;
    margin: 0 auto;
}

.menu-rodape a{
    text-decoration: none;
    color: #7F7F80;
}

.menu-rodape a:hover{
    color: #fff;
}

.redes img{
    min-width: 35px;
    width: 35px;
}

.redes ul{
    display: flex;
    text-align: center;
}

.redes li{
    width: 15%;
    padding: 3%;
}

.assinatura{
    color: #fff;
    background-color: #7F7F80;
    text-align: center;
    height: auto;
    padding: 1%;
}

.assinatura p{
    margin-top: 3%;
}

/* Regras para o conteúdo */

#conteudo{
    max-width: 95%;
    margin: auto;
}

#conteudo article{
    background-color: white;
    margin: 15px 0;
    padding: 1%;
    box-sizing: grey 1px 1px 5px;
}

#conteudo h2, #conteudo h3, #conteudo p{
    padding: 1%;
}

.titulo{
    font-size: 1.4em;
    color: #ED6D19;
    text-align: center;
    text-transform: uppercase;
}